* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}


nav, .contentarea {
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

body{
	margin:auto;
}

header {
	background: #ffffff;
	border-color: #cccccc;
	clear:all;

}

ul{
	float: right;
	width: 270px;	
	list-style-type: none;
	margin: 0;
	padding: 15px;
	
}

li {
	padding:5px;
	display: inline;
	text-align: center;
}

a:link{
	text-decoration: none;
}


p{
	margin:0;
	padding:0;
}


footer {
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0;
	padding: 25px 0 10px 0;
	width: 100%;
	background: #666666;
	text-align: center;
	color:white;
}


.nameheading, #aboutme, #connectbar{
		font-family: 'Georgia', Times, Times New Roman, serif;
		
}
.nameheading, #aboutme {		
		font-size: 1.5em;
}

.nameheading {
	margin: 0;
	padding: 15px;	
	float: left;
	background: #4aaaa5;
	width: 200px;
	text-align: center;
	font-weight: bold;
	color: white;
}

#sectioncontent,.sidebar {
	padding:20px;
	float: left;
	margin:0;
}	

.entirearea {
	background-image: url("../images/spiration_light/spiration-light.png");
	background-color: #ffffff;
	border-color: #dddddd;
	padding-top:30px;
	width:100%;
	position:relative;
	float:left;

}

#sectioncontent {
	float: left;
	width: 620px;
	height: auto;
	background: white;
}

#familypic {
	float:left;
	padding-right: 15px;
	width:40%;
	height:40%;
}

#aboutme {
	padding-bottom:15px;
	border-bottom: solid;
	border-bottom-color: gray;
	color: #4aaaa5;
	font-weight: bold;
	
}

#aboutme2 {
	text-decoration: line-through;
}

.sidebar {	
	position: relative;
	float:right;
	top:0;
	right: 0;
	width:240px;
	height:auto;
	margin:0;
	padding: 15px;
	background:white;

}

#connectbar, .button{
	margin-left: auto;
	margin-right: auto;

}

.button {
	padding-top: 15px;

}

#connectbar{
	padding-bottom:15px;
	width:230px;
	text-align: center;
	border-bottom: solid;
	border-bottom-color: gray;
	color: #4aaaa5;
	font-weight: bold;
}