* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}


header, section{
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

body{
	margin:auto;
		
}

header {
	width:960px;
	background: #ffffff;
	border-color: #cccccc;
	clear:both;

}

ul {
	float: right;
	width: 270px;	
	list-style-type: none;
	margin: 0;
	padding: 15px;
	
}

li {
	padding:5px;
	display: inline;
	text-align: center;
	text-decoration: none;
}

a:link{
	text-decoration: none;
}
}

section {
	background: url('../images/spiration_light/spiration-light.png');
	/*#ffffff;*/
	border-color: #dddddd;
		
}

p{
	margin:0;
	padding:0;
}


button {
	border-top: 15px;
	width: 75px;
	height: 75px;
	border:0;
	/*background-size: 100%;*/ /* To fill the dimensions of container (button), or */
  	background-size: 75px auto;
}
footer {
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0;
	padding: 25px 0 10px 0;
	width: 100%;
	background: #666666;
	text-align: center;
	color:white;
}


.nameheading, #aboutme, #connectbar{
		font-family: 'Georgia', Times, Times New Roman, serif;
		
}
.nameheading, #aboutme {		
		font-size: 1.5em;
}


#sectioncontent,.sidebar {
	padding:20px;
}	

.nameheading {
	margin: 0;
	padding: 15px;	
	float: left;
	background: #4aaaa5;
	width: 200px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.sidebar.relative {
	position: relative;
	top:0;
	right: 0;
	width:270px;
	height:auto;
}

.contentarea, .sidebar{
	padding-top:50px;

}

#sectioncontent {
	float: left;
	width: 650px;
}
#aboutme {
	padding-bottom:15px;
	border-bottom: solid;
	border-bottom-color: gray;
	color: #4aaaa5;
	font-weight: bold;
	
}

#aboutme2 {
	text-decoration: line-through;
}


#familypic {
	float:left;
	padding-right: 20px;
	width:25%;
	height: 20%;
}


#connectbar{
	padding-bottom:15px;
	width:230px;
	text-align: center;
	border-bottom: solid;
	border-bottom-color: gray;
	color: #4aaaa5;
	font-weight: bold;
}

